@using RunnersBlogMVC.DTO
@model ItemDto
@{
    ViewData["Title"] = "Delete";
}
<h1>
    Delete Item
</h1>
<form method="post" asp-action="DeleteItemPOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete shoes</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Items" asp-action="GetItems" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
